.login-wrapper {
    //background-image: url(/webui/assets/images/courier_bg.svg);
    background-image: url(/webui/assets/images/cross3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right center;
  }