<form clrForm clrLayout="compact" [formGroup]="bulkShipmentForm">
  <div class="clr-row upload-row">

    <div class="clr-col-auto">
      <cds-file>
        <label>Bulk upload Excel file</label>
        <input type="file" name="excelFileName" formControlName="excelFileName"
               (change)="onFileSelect($event)" accept=".xls,.xlsx" />
      </cds-file>
    </div>

    <div class="clr-col-auto upload-row__actions">
      <span class="upload-row__label">Bulk Shipment Template</span>
      <button class="btn btn-sm" type="button" (click)="onDownloadTemplate()">Download</button>
      <button class="btn btn-primary" type="button"
              (click)="onCreateBulkShipment()" [disabled]="isButtonEnabled">
        Create Bulk Shipment
      </button>
    </div>

  </div>
</form>
