<div class="login-wrapper">
    <form class="login" [formGroup]="passwordResetForm">
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only">Corporate name</label>
                <input type="text" name="corporatename" clrInput formControlName="corporateName" placeholder="Corporate name" />
                <clr-control-error>Corporate name (Organization name) is required!</clr-control-error>
            </clr-input-container>

            <clr-input-container>
                <label class="clr-sr-only">Username</label>
                <input type="text" name="username" clrInput formControlName="userName" placeholder="User name"/>
                <clr-control-error>Username is required!</clr-control-error>
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Current Password</label>
                <input type="password" name="password" clrPassword formControlName="currentPassword" placeholder="Current Password"/>
                <clr-control-error>Password is required!</clr-control-error>
            </clr-password-container>

            <clr-password-container>
                <label class="clr-sr-only">New Password</label>
                <input type="password" name="password" clrPassword formControlName="newPassword" placeholder="Password"/>
                <clr-control-error>Password is required!</clr-control-error>
            </clr-password-container>

            <button (click)="onPasswordReset()" class="btn btn-primary">Reset Password</button>
        </div>
    </form>
</div>
