<form clrForm clrLayout="vertical" clrLabelSize="4" [formGroup]="singleShipmentForm">
    <div class="clr-row">
        <div class="clr-col-lg-auto">
            <clr-checkbox-container>
                <clr-checkbox-wrapper>
                    <input type="checkbox" formControlName="isAutoGenerate" clrToggle (change)="onAutoGenerate($event)"/>
                    <label for="isAutoGenerate">Autogenerate AWB Number</label>
                </clr-checkbox-wrapper>
            </clr-checkbox-container>
        </div>
    </div>
    <div class="clr-row">
        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>AWB No.</label>
                <input clrInput name="awbno" formControlName="awbno"(clrDisable)="isAwbNoDisabled" />
            </clr-input-container>
                    
        </div>
        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>Alternate Reference No.</label>
                <input clrInput name="altRefNo" formControlName="altRefNo" />
            </clr-input-container>
                    
        </div>
    </div>

    <div class="clr-row">
        <div class="clr-col">
            <div class="clr-col-lg-auto">
                <clr-input-container>
                    <label for=""><u><i>Sender Information</i></u></label>
                </clr-input-container>
            </div>
    
            <div formGroupName="senderInformation">
                <div class="clr-col-lg-auto">
                    <clr-input-container *ngIf="'Customer' == this.loggedInUser?.personalInfo?.role">
                        <label>Account No.</label>
                        <input clrInput name="accountNo" formControlName="accountNo" value="this.loggedInUser.loginCredentials.accountCode" />
                    </clr-input-container>
                    <clr-select-container *ngIf="'Customer' != this.loggedInUser?.personalInfo?.role">
                        <label>Account No.</label>
                        <select clrSelect name="accountNo" formControlName="accountNo">
                            <option *ngFor="let act of this.accountInfoList" [value]="act.loginCredentials.accountCode">
                                {{act.loginCredentials.accountCode}}
                            </option>
                        </select>
                    </clr-select-container>

                    <button class="btn" (click)="retrieveAccountInfo()">Retrieve</button>
                </div>

                <div class="clr-col-lg-auto">
                    <clr-input-container >
                        <label>Reference No.</label>
                        <input clrInput name="referenceNo" formControlName="referenceNo" />
                    </clr-input-container>
                </div>

                <div class="clr-col-lg-auto">
                    <clr-input-container >
                        <label>Name</label>
                        <input clrInput name="name" formControlName="name" />
                    </clr-input-container>
                </div>

                <div class="clr-col-lg-auto">
                    <clr-input-container >
                        <label>Company (Corporate) Name</label>
                        <input clrInput name="companyName" formControlName="companyName" />
                    </clr-input-container>
                </div>

                <div class="clr-col-lg-auto">
                    <clr-select-container >
                        <label>Country</label>
                        <select clrSelect name="country" formControlName="country" >
                            <option *ngFor="let cuntry of this.defValue?.CountryName" [value]="cuntry">
                                {{cuntry}}
                            </option>
                        </select>
                    </clr-select-container>
                </div>

                <div class="clr-col-lg-auto">
                    <clr-input-container >
                        <label>City</label>
                        <input clrInput name="city" formControlName="city"  />
                    </clr-input-container>
                </div>

                <div class="clr-col-lg-auto">
                    <clr-input-container >
                        <label>State</label>
                        <input clrInput name="state" formControlName="state" />
                    </clr-input-container>
                    
                </div>
        
                <div class="clr-col-lg-auto">
                    <clr-textarea-container>
                        <label>Address</label>
                        <textarea clrTextarea name="address" formControlName="address" ></textarea>
                        <!--<clr-control-helper>You can't modify this </clr-control-helper>-->
                    </clr-textarea-container>
                </div>
                <div class="clr-col-lg-auto">
                    <clr-input-container >
                        <label>Postal Code</label>
                        <input clrInput name="postalCode" formControlName="postalCode" />
                    </clr-input-container>
                    
                </div>
        
                <div class="clr-col-lg-auto">
                    
                    <clr-input-container >
                        <label>Contact</label>
                        <input clrInput name="contact" formControlName="contact" />
                    </clr-input-container>
                    
                </div>
                <div class="clr-col-lg-auto">
                    
                    <clr-input-container >
                        <label>Phone Number</label>
                        <input clrInput name="phoneNumber" formControlName="phoneNumber" />
                    </clr-input-container>
                    
                </div>
        
                <div class="clr-col-lg-auto">
                    <clr-input-container >
                        <label>E-Mail</label>
                        <input clrInput name="email" formControlName="email" />
                    </clr-input-container>
                </div>
        
                <div class="clr-col-lg-auto">
                    <clr-input-container >
                        <label>Receiving Tax ID</label>
                        <input clrInput name="receivingTaxId" formControlName="receivingTaxId" />
                    </clr-input-container>
                    
                </div>
            </div>
        </div>
        <!--  Second Column -->
           <div class="clr-col" formGroupName="shipmentInformation">
                <div class="clr-col-lg-auto">
                    <clr-input-container >
                    <label for=""><u><i>Shipment Information</i></u></label>
                    </clr-input-container>
                </div>

                <div class="clr-col-lg-auto">
                    <clr-input-container >
                        <label>SKU No.</label>
                        <input clrInput name="skuNo" formControlName="skuNo" />
                    </clr-input-container>
                    
                </div>
        
                <div class="clr-col-lg-auto">
                    <clr-select-container>
                        <label>Service</label>
                        <select clrSelect name="service" formControlName="service">
                            <option *ngFor="let svc of this.defValue?.ServiceType" [value]="svc">
                                {{svc}}
                              </option>
                        </select>
                    </clr-select-container>
                </div>
        
                <div class="clr-col-lg-auto">
                    
                    <clr-input-container >
                        <label>Number Of Items</label>
                        <input clrInput name="numberOfItems" class="mandatory" formControlName="numberOfItems" />
                    </clr-input-container>
                    
                </div>
        
                <div class="clr-col-lg-auto">
                    
                    <clr-input-container >
                        <label>Goods Description</label>
                        <input clrInput name="goodsDescription" formControlName="goodsDescription" />
                    </clr-input-container>
                    
                </div>
        
                <div class="clr-col-lg-auto">
                    <clr-input-container >
                        <label>Goods Value</label>
                        <input clrInput name="goodsValue" formControlName="goodsValue" />
                    </clr-input-container>
                    
                </div>
        
                <div class="clr-col-lg-auto">
                    
                    <clr-input-container >
                        <label>Customs Value</label>
                        <input clrInput name="customsValue" formControlName="customsValue" />
                    </clr-input-container>
                    
                </div>
                <div class="clr-col-lg-auto">
            
                    <clr-input-container >
                        <label>COD Ammount</label>
                        <input clrInput name="codAmount" formControlName="codAmount" />
                    </clr-input-container>
                    
                </div>
        
                <div class="clr-col-lg-auto">
                    
                    <clr-input-container >
                        <label>VAT</label>
                        <input clrInput name="vat" formControlName="vat" />
                    </clr-input-container>
                    
                </div>
                <div class="clr-col-lg-auto">
                    <clr-select-container>
                        <label>Currency</label>
                        <select clrSelect name="currency" formControlName="currency" >
                            <option *ngFor="let currency of this.defValue?.Currency" [value]="currency">
                                {{currency}}
                            </option>
                        </select>
                    </clr-select-container>
        
                </div>
        
                <div class="clr-col-lg-auto">
                    
                    <clr-input-container >
                        <label class="required">Weight</label>
                        <input clrInput name="weight" formControlName="weight" />
                    </clr-input-container>
                    
                </div>
        
                <div class="clr-col-lg-auto">
                    <clr-select-container>
                        <label >Weight Units</label>
                        <select clrSelect name="weightUnits" formControlName="weightUnits">
                            <option value="kg">KG</option>
                            <option value="gram">Gram</option>
                        </select>
                    </clr-select-container>
                    
                </div>
        
                <div class="clr-col-lg-auto">
                    <clr-input-container >
                        <label>Cubic Weight (LxBxH)</label>
                        <input clrInput name="cubicWeight" formControlName="cubicWeight" />
                    </clr-input-container>
                </div>
            </div>
            <!-- Third Column-->
            <div class="clr-col" formGroupName="receiverInformation">

                <div class="clr-col-lg-auto">
                    <clr-input-container >
                    <label for=""><u><i>Receiver Information</i></u></label>
                    </clr-input-container>
                </div>

                <div class="clr-col-lg-auto">
            
                    <clr-input-container >
                        <label>Name</label>
                        <input clrInput name="name" formControlName="name" />
                    </clr-input-container>
                    
                </div>
        
                <div class="clr-col-lg-auto">
                    <clr-select-container >
                        <label>Country</label>
                        <select clrSelect name="country" formControlName="country" >
                            <option *ngFor="let cuntry of this.defValue?.CountryName" [value]="cuntry">
                                {{cuntry}}
                            </option>
                        </select>
                    </clr-select-container>
                    
                </div>
        
                <div class="clr-col-lg-auto">
                    
                    <clr-input-container >
                        <label>City</label>
                        <input clrInput name="city" formControlName="city" />
                    </clr-input-container>
                    
                </div>
        
                <div class="clr-col-lg-auto">
                    
                    <clr-input-container >
                        <label>State</label>
                        <input clrInput name="state" formControlName="state" />
                    </clr-input-container>
                    
                </div>
                <div class="clr-col-lg-auto">
                    <clr-input-container >
                        <label>Postal Code</label>
                        <input clrInput name="postalCode" formControlName="postalCode" />
                    </clr-input-container>
                    
                </div>
        
                <div class="clr-col-lg-auto">
                    
                    <clr-input-container >
                        <label>Contact</label>
                        <input clrInput name="contact" formControlName="contact" />
                    </clr-input-container>
                    
                </div>

                <div class="clr-col-lg-auto">
                    <clr-textarea-container>
                        <label>Address</label>
                        <textarea clrTextarea name="address" required formControlName="address" ></textarea>
                        <!--<clr-control-helper>You can't modify this </clr-control-helper>-->
                    </clr-textarea-container>
                </div>
        
                <div class="clr-col-lg-auto">
                    
                    <clr-input-container >
                        <label>Phone</label>
                        <input clrInput name="phone" formControlName="phone" />
                    </clr-input-container>
                    
                </div>
        
                <div class="clr-col-lg-auto">
                    <clr-input-container >
                        <label>E-Mail</label>
                        <input clrInput name="email" formControlName="email" />
                    </clr-input-container>
                </div>
                
            </div>
            <!-- Fourth Column-->
            <div class="clr-col"></div>

            
    </div>

    <div class="clr-row">
        <div class="clr-col">
            <button class="btn btn-primary" (click)="onShipmentCreate()">Create Shipment</button>
        </div>
    </div>
    
</form>
