<form clrForm clrLayout="compact" clrLabelSize="5" [formGroup]="modifyShipmentForm">

  <!-- Lookup row -->
  <div class="clr-row lookup-row">
    <div class="clr-col-auto">
      <clr-input-container>
        <label>AWB No.</label>
        <input clrInput name="awbno" formControlName="awbno" />
      </clr-input-container>
    </div>
    <div class="clr-col-auto">
      <button class="btn btn-sm" type="button" (click)="onFetchByAwbNo()">Retrieve</button>
    </div>
    <div class="clr-col-auto">
      <clr-input-container>
        <label>Alt. Ref. No.</label>
        <input clrInput name="altRefNo" formControlName="altRefNo" />
      </clr-input-container>
    </div>
    <div class="clr-col-auto">
      <button class="btn btn-sm" type="button" (click)="onFetchByAltRefNo()">Retrieve</button>
    </div>
    <div class="clr-col-auto">
      <button class="btn btn-primary" type="button" (click)="onShipmentUpdate()">Update Shipment</button>
    </div>
  </div>

  <!-- Three-column form body -->
  <div class="clr-row form-body">

    <!-- Sender Information -->
    <div class="clr-col-4">
      <p class="section-head"><u><i>Sender Information</i></u></p>
      <div formGroupName="senderInformation">
        <clr-input-container>
          <label>Account No.</label>
          <input clrInput name="accountNo" formControlName="accountNo" />
        </clr-input-container>
        <clr-input-container>
          <label>Reference No.</label>
          <input clrInput name="referenceNo" formControlName="referenceNo" />
        </clr-input-container>
        <clr-input-container>
          <label>Name</label>
          <input clrInput name="name" formControlName="name" />
        </clr-input-container>
        <clr-input-container>
          <label>Company</label>
          <input clrInput name="companyName" formControlName="companyName" />
        </clr-input-container>
        <clr-input-container>
          <label>Country</label>
          <input clrInput name="country" formControlName="country" />
        </clr-input-container>
        <clr-input-container>
          <label>City</label>
          <input clrInput name="city" formControlName="city" />
        </clr-input-container>
        <clr-input-container>
          <label>State</label>
          <input clrInput name="state" formControlName="state" />
        </clr-input-container>
        <clr-input-container>
          <label>Address</label>
          <input clrInput name="address" formControlName="address" />
        </clr-input-container>
        <clr-input-container>
          <label>Postal Code</label>
          <input clrInput name="postalCode" formControlName="postalCode" />
        </clr-input-container>
        <clr-input-container>
          <label>Contact</label>
          <input clrInput name="contact" formControlName="contact" />
        </clr-input-container>
        <clr-input-container>
          <label>Phone</label>
          <input clrInput name="phoneNumber" formControlName="phoneNumber" />
        </clr-input-container>
        <clr-input-container>
          <label>E-Mail</label>
          <input clrInput name="email" formControlName="email" />
        </clr-input-container>
        <clr-input-container>
          <label>Tax ID</label>
          <input clrInput name="receivingTaxId" formControlName="receivingTaxId" />
        </clr-input-container>
      </div>
    </div>

    <!-- Shipment Information -->
    <div class="clr-col-4">
      <p class="section-head"><u><i>Shipment Information</i></u></p>
      <div formGroupName="shipmentInformation">
        <clr-input-container>
          <label>SKU No.</label>
          <input clrInput name="skuNo" formControlName="skuNo" />
        </clr-input-container>
        <clr-input-container>
          <label>Service</label>
          <input clrInput name="service" formControlName="service" />
        </clr-input-container>
        <clr-input-container>
          <label>No. of Items</label>
          <input clrInput name="numberOfItems" class="mandatory" formControlName="numberOfItems" />
        </clr-input-container>
        <clr-input-container>
          <label>Goods Desc.</label>
          <input clrInput name="goodsDescription" formControlName="goodsDescription" />
        </clr-input-container>
        <clr-input-container>
          <label>Goods Value</label>
          <input clrInput name="goodsValue" formControlName="goodsValue" />
        </clr-input-container>
        <clr-input-container>
          <label>Customs Value</label>
          <input clrInput name="customsValue" formControlName="customsValue" />
        </clr-input-container>
        <clr-input-container>
          <label>COD Amount</label>
          <input clrInput name="codAmount" formControlName="codAmount" />
        </clr-input-container>
        <clr-input-container>
          <label>VAT</label>
          <input clrInput name="vat" formControlName="vat" />
        </clr-input-container>
        <clr-input-container>
          <label>Currency</label>
          <input clrInput name="currency" formControlName="currency" />
        </clr-input-container>
        <clr-input-container>
          <label>Weight</label>
          <input clrInput name="weight" formControlName="weight" />
        </clr-input-container>
        <clr-input-container>
          <label>Weight Unit</label>
          <input clrInput name="weightUnits" formControlName="weightUnits" />
        </clr-input-container>
        <clr-input-container>
          <label>Cubic (LxBxH)</label>
          <input clrInput name="cubicWeight" formControlName="cubicWeight" />
        </clr-input-container>
      </div>
    </div>

    <!-- Receiver Information -->
    <div class="clr-col-4">
      <p class="section-head"><u><i>Receiver Information</i></u></p>
      <div formGroupName="receiverInformation">
        <clr-input-container>
          <label>Name</label>
          <input clrInput name="name" formControlName="name" />
        </clr-input-container>
        <clr-input-container>
          <label>Country</label>
          <input clrInput name="country" formControlName="country" />
        </clr-input-container>
        <clr-input-container>
          <label>City</label>
          <input clrInput name="city" formControlName="city" />
        </clr-input-container>
        <clr-input-container>
          <label>State</label>
          <input clrInput name="state" formControlName="state" />
        </clr-input-container>
        <clr-input-container>
          <label>Postal Code</label>
          <input clrInput name="postalCode" formControlName="postalCode" />
        </clr-input-container>
        <clr-input-container>
          <label>Contact</label>
          <input clrInput name="contact" formControlName="contact" />
        </clr-input-container>
        <clr-input-container>
          <label>Address</label>
          <input clrInput name="address" formControlName="address" />
        </clr-input-container>
        <clr-input-container>
          <label>Phone</label>
          <input clrInput name="phone" formControlName="phone" />
        </clr-input-container>
        <clr-input-container>
          <label>E-Mail</label>
          <input clrInput name="email" formControlName="email" />
        </clr-input-container>
      </div>
    </div>

  </div>

</form>
