<form clrForm clrLayout="vertical" clrLabelSize="4" [formGroup]="modifyShipmentForm">
    <div class="clr-row">
        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>AWB No.</label>
                <input clrInput name="awbno" formControlName="awbno" />
            </clr-input-container>
            <button class="btn" (click)="onFetchByAwbNo()">Retrieve </button> 
        </div>
        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>Alternate Reference No.</label>
                <input clrInput name="altRefNo" formControlName="altRefNo">
            </clr-input-container>
            <button class="btn" (click)="onFetchByAltRefNo()">Retrieve</button>
        </div>
        
    </div>

    <div class="clr-row">
        <div class="clr-col-lg-auto">
            <clr-input-container>
            <label for=""><u><i>Sender Information</i></u></label>
            </clr-input-container>
        </div>
    </div>
    <div class="clr-row" formGroupName="senderInformation">
        <div class="clr-col-lg-auto">
            <clr-input-container>
                <label>Account No.</label>
                <input clrInput name="accountNo" formControlName="accountNo" />
            </clr-input-container>
        </div>

        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>Reference No.</label>
                <input clrInput name="referenceNo" formControlName="referenceNo" />
            </clr-input-container>
        </div>

        <div class="clr-col-lg-auto">
            
            <clr-input-container >
                <label>Name</label>
                <input clrInput name="name" formControlName="name" />
            </clr-input-container>
            
        </div>

        <div class="clr-col-lg-auto">
            
            <clr-input-container >
                <label>Company (Corporate) Name</label>
                <input clrInput name="companyName" formControlName="companyName" />
            </clr-input-container>
            
        </div>
        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>Country</label>
                <input clrInput name="country" formControlName="country" />
            </clr-input-container>
        </div>

        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>City</label>
                <input clrInput name="city" formControlName="city"  />
            </clr-input-container>
        </div>
        
    </div>

    <div class="clr-row" formGroupName="senderInformation">
        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>State</label>
                <input clrInput name="state" formControlName="state" />
            </clr-input-container>
        </div>

        <div class="clr-col-lg-auto">
            <clr-textarea-container>
                <label>Address</label>
                <textarea clrTextarea name="address" required formControlName="address" ></textarea>
                <!--<clr-control-helper>You can't modify this </clr-control-helper>-->
            </clr-textarea-container>
        </div>
        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>Postal Code</label>
                <input clrInput name="postalCode" formControlName="postalCode" />
            </clr-input-container>
        </div>
        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>Contact</label>
                <input clrInput name="contact" formControlName="contact" />
            </clr-input-container>
        </div>
        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>Phone Number</label>
                <input clrInput name="phoneNumber" formControlName="phoneNumber" />
            </clr-input-container>
        </div>

        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>E-Mail</label>
                <input clrInput name="email" formControlName="email" />
            </clr-input-container>
        </div>
    </div>

    <div class="clr-row" formGroupName="senderInformation">
        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>Receiving Tax ID</label>
                <input clrInput name="receivingTaxId" formControlName="receivingTaxId" />
            </clr-input-container>
        </div>
    </div>
    
    <div class="clr-row">
        <div class="clr-col-lg-auto">
            <clr-input-container >
            <label for=""><u><i>Shipment Information</i></u></label>
            </clr-input-container>
        </div>
    </div>
    <div class="clr-row" formGroupName="shipmentInformation">
        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>SKU No.</label>
                <input clrInput name="skuNo" formControlName="skuNo" />
            </clr-input-container>
        </div>

        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>Service</label>
                <input clrInput name="service" formControlName="service" />
            </clr-input-container>
        </div>

        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>Number Of Items</label>
                <input clrInput name="numberOfItems" class="mandatory" formControlName="numberOfItems" />
            </clr-input-container>
        </div>

        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>Goods Description</label>
                <input clrInput name="goodsDescription" formControlName="goodsDescription" />
            </clr-input-container>
        </div>

        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>Goods Value</label>
                <input clrInput name="goodsValue" formControlName="goodsValue" />
            </clr-input-container>
        </div>

        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>Customs Value</label>
                <input clrInput name="customsValue" formControlName="customsValue" />
            </clr-input-container>
        </div>
    </div>

    <div class="clr-row" formGroupName="shipmentInformation">
        
        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>COD Ammount</label>
                <input clrInput name="codAmount" formControlName="codAmount" />
            </clr-input-container>
        </div>

        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>VAT</label>
                <input clrInput name="vat" formControlName="vat" />
            </clr-input-container>
        </div>
        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>Currency</label>
                <input clrInput name="currency" formControlName="currency" />
            </clr-input-container>
        </div>

        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label class="required">Weight</label>
                <input clrInput name="weight" formControlName="weight" />
            </clr-input-container>
        </div>

        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label class="required">Weight Unit</label>
                <input clrInput name="weightUnits" formControlName="weightUnits" />
            </clr-input-container>
        </div>

        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>Cubic Weight (LxBxH)</label>
                <input clrInput name="cubicWeight" formControlName="cubicWeight" />
            </clr-input-container>
        </div>

    </div>
    <div class="clr-row">
        <div class="clr-col-lg-auto">
            <clr-input-container >
            <label for=""><u><i>Receiver Information</i></u></label>
            </clr-input-container>
        </div>
    </div>
    <div class="clr-row" formGroupName="receiverInformation">
        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>Name</label>
                <input clrInput name="name" formControlName="name" />
            </clr-input-container>
        </div>

        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>Country</label>
                <input clrInput name="country" formControlName="country" />
            </clr-input-container>
        </div>

        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>City</label>
                <input clrInput name="city" formControlName="city" />
            </clr-input-container>
        </div>

        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>State</label>
                <input clrInput name="state" formControlName="state" />
            </clr-input-container>
        </div>
        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>Postal Code</label>
                <input clrInput name="postalCode" formControlName="postalCode" />
            </clr-input-container>
        </div>

        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>Contact</label>
                <input clrInput name="contact" formControlName="contact" />
            </clr-input-container>
        </div>
    </div>

    <div class="clr-row" formGroupName="receiverInformation">
        
        <div class="clr-col-lg-auto">
            <clr-textarea-container>
                <label>Address</label>
                <textarea clrTextarea name="address" required formControlName="address" ></textarea>
                <!--<clr-control-helper>You can't modify this </clr-control-helper>-->
            </clr-textarea-container>
        </div>

        <div class="clr-col-lg-auto">
            
            <clr-input-container >
                <label>Phone</label>
                <input clrInput name="phone" formControlName="phone" />
            </clr-input-container>
            
        </div>

        <div class="clr-col-lg-auto">
            <clr-input-container >
                <label>E-Mail</label>
                <input clrInput name="email" formControlName="email" />
            </clr-input-container>
        </div>

    </div>

    <div class="clr-row">
        <div class="clr-col">
            <button class="btn btn-primary" (click)="onShipmentUpdate()">Update Shipment</button>
        </div>
    </div>
    
</form>
