<form clrForm clrLayout="vertical" clrLabelSize="4" [formGroup]="createDRSForm">
    <div class="clr-row">
        <div class="clr-col-lg-auto">
            <clr-textarea-container>
                <label for="shipmentNo">AWB OR Alternate Reference No</label>
                <textarea clrTextarea name="shipmentNo" formControlName="shipmentNo"></textarea>
            </clr-textarea-container>

        </div>
        
        <div class="clr-col-lg-auto">
            <clr-textarea-container>
                <label for="altRefNo">Sender Reference No</label>
                <textarea clrTextarea name="altRefNo" formControlName="altRefNo"></textarea>
            </clr-textarea-container>

        </div>

        <div class="clr-col-lg-auto">
            <clr-input-container>
                <label>Delivery Guest Name</label>
                <input type="text" clrInput name="driverName" formControlName="driverName">
            </clr-input-container>
        </div>

        <div class="clr-col-lg-auto">
            <clr-radio-container clrInline>
                <label>Last Mile Delivery Service Vendor</label>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="vendor" required value="self"  checked (click)="onVendorSelect('self')" formControlName="vendor" />
                    <label>Self</label>
                  </clr-radio-wrapper>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio name="vendor" required value="sipsy" (click)="onVendorSelect('sipsy')" formControlName="vendor"  />
                  <label>Sipsy</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio name="vendor" required value="ajoul"  (click)="onVendorSelect('ajoul')" formControlName="vendor"  />
                  <label>Ajoul</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="vendor" required value="dhl"  (click)="onVendorSelect('dhl')" formControlName="vendor"  />
                    <label>DHL Express</label>
                  </clr-radio-wrapper>
                  <clr-radio-wrapper>
                    <input type="radio" clrRadio name="vendor" required value="bluedart" (click)="onVendorSelect('bludart')"  formControlName="vendor"  />
                    <label>Blue Dart Express</label>
                  </clr-radio-wrapper>

              </clr-radio-container>
        </div>
    </div>


    <div class="clr-row" >
        <div class="clr-col">
            <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
        </div>
    </div>
</form>


<clr-datagrid>
    <clr-dg-column>S. No.</clr-dg-column>
    <clr-dg-column>Sender</clr-dg-column>
    <clr-dg-column>Receiver</clr-dg-column>
    <clr-dg-column>Contact No.</clr-dg-column>
    <clr-dg-column>Awb No.</clr-dg-column>
    <clr-dg-column>COD</clr-dg-column>
    <clr-dg-column>Signature</clr-dg-column>
    
    <clr-dg-row *clrDgItems="let sh of shipments; let idx = index" [clrDgItem]="sh">
        <clr-dg-cell>{{idx + 1}}</clr-dg-cell>
        <clr-dg-cell>{{sh.shipment.senderInformation.name}}</clr-dg-cell>
        <clr-dg-cell>{{sh.shipment.receiverInformation.address}}</clr-dg-cell>
        <clr-dg-cell>{{sh.shipment.receiverInformation.contact}}</clr-dg-cell>
        <clr-dg-cell><img [src]="textToBase64Barcode(sh.shipment.awbno, 60)"></clr-dg-cell>
        <clr-dg-cell>{{sh.shipment.shipmentInformation.codAmount}}</clr-dg-cell>
        <clr-dg-cell></clr-dg-cell>
    
    </clr-dg-row>
    <clr-dg-footer>
		<clr-dg-pagination #pagination [clrDgPageSize]="10">
			<clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Shipment per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} shipments
    </clr-dg-pagination>
</clr-dg-footer>
</clr-datagrid>
