<form clrForm clrLayout="vertical" clrLabelSize="4" [formGroup]="multipleShipmentTrackingForm">
    <div class="clr-row">
        <div class="clr-col-lg-auto">
            <clr-textarea-container>
                <label for="shipmentNo">Air Way Bill No.</label>
                <textarea clrTextarea name="shipmentNo" formControlName="shipmentNo"></textarea>
            </clr-textarea-container>

        </div>
        <div class="clr-col-lg-auto">
            <clr-textarea-container>
                <label for="altRefNo">Alternate Reference No.</label>
                <textarea clrTextarea name="altRefNo" formControlName="altRefNo"></textarea>
            </clr-textarea-container>

        </div>
        <div class="clr-col-lg-auto">
            <clr-radio-container clrInline>
                <label>Last Mile Delivery Service Vendor</label>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="vendor" required value="self"  checked (click)="onVendorSelect('self')" formControlName="vendor" />
                    <label>Self</label>
                  </clr-radio-wrapper>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio name="vendor" required value="sipsy" (click)="onVendorSelect('sipsy')" formControlName="vendor"  />
                  <label>Sipsy</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio name="vendor" required value="ajoul"  (click)="onVendorSelect('ajoul')" formControlName="vendor"  />
                  <label>Ajoul</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="vendor" required value="dhl"  (click)="onVendorSelect('dhl')" formControlName="vendor"  />
                    <label>DHL Express</label>
                  </clr-radio-wrapper>
                  <clr-radio-wrapper>
                    <input type="radio" clrRadio name="vendor" required value="bluedart" (click)="onVendorSelect('bludart')"  formControlName="vendor"  />
                    <label>Blue Dart Express</label>
                  </clr-radio-wrapper>

              </clr-radio-container>
        </div>
    </div>


    <div class="clr-row" >
        <div class="clr-col">
            <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
            <button class="btn btn-primary" (click)="onExcelExport()" [disabled]="isButtonDisabled">Export To Excel</button>
        </div>
    </div>
</form>

<div class="btn-group">
    <button class="btn" (click)="onCreateA2Label()">
        <clr-icon shape="printer" aria-label="print"></clr-icon>A2
    </button>
    <button class="btn" (click)="onCreateA4Label()">
        <clr-icon shape="printer"></clr-icon>A4
    </button>
    <button class="btn" (click)="onCreateA6Label()">
        <clr-icon shape="printer"></clr-icon>A6
    </button>
    <button class="btn" (click)="onCreateInvoice()">
        <clr-icon shape="printer"></clr-icon>Generate Invoice
    </button>
</div>

<clr-datagrid (clrDgSelectedChange)="onSelectionChanged($event)" [(clrDgSelected)]="rowsSelected">
    <clr-dg-column>Tracking Number</clr-dg-column>
    <clr-dg-column>Alternate Reference Number</clr-dg-column>
    <clr-dg-column>Status</clr-dg-column>
    <clr-dg-column>Delivery Information</clr-dg-column>
    <clr-dg-column>Details</clr-dg-column>
    
    <clr-dg-row *clrDgItems="let sh of shipments" [clrDgItem]="sh">
        <clr-dg-cell>{{sh.shipment.awbno}}</clr-dg-cell>
        <clr-dg-cell>{{sh.shipment.altRefNo}}</clr-dg-cell>
        <clr-dg-cell>{{sh.shipment.shipmentInformation.activity[activityOffset - 1].event}}</clr-dg-cell>
        <clr-dg-cell>{{sh.shipment.shipmentInformation.activity[activityOffset - 1].event}}</clr-dg-cell>
        <clr-dg-cell><button class="btn" (click)="viewSingleShipment(sh)">View</button></clr-dg-cell>
    
    </clr-dg-row>
    <clr-dg-footer>
		<clr-dg-pagination #pagination [clrDgPageSize]="10">
			<clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Shipment per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} shipments
    </clr-dg-pagination>
</clr-dg-footer>
</clr-datagrid>

<app-single-shipment-diaglog *ngIf="isSingleShipmentView == true"></app-single-shipment-diaglog>

